@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-yellow: #fdd142;
  --color-black-text: #3d3d3d;
  --color-btn-text: #04061f;

  --breakpoint-3xl: 1400px;
  --breakpoint-xl: 1024px;
  --breakpoint-lg: 768px;
  --breakpoint-md: 480px;
  --breakpoint-sm: 376px;
}

:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.25;
  font-weight: 400;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body,
p,
a,
li,
label {
  @apply text-black-text text-[28px] max-xl:text-[24px] max-lg:text-[20px] max-md:text-[16px];
}

a:hover {
  @apply underline;
}

h3 {
  @apply text-black text-[36px] max-xl:text-[30px] max-lg:text-[20px] max-md:text-[16px] font-semibold;
}

h4 {
  @apply text-black text-[30px] max-xl:text-[24px] max-lg:text-[20px] max-md:text-[16px] font-semibold;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: url("./assets/background.png");
}

.container {
  @apply max-w-420 m-auto max-[1720px]:px-10 max-lg:px-5;
}

nav,
footer {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

footer,
footer a {
  @apply text-[24px] max-xl:text-[20px] max-lg:text-[20px] max-md:text-[16px];
}

.active {
  @apply font-bold;
}

.active:hover {
  @apply no-underline;
}

.input-group {
  @apply flex flex-col gap-5.5 max-md:gap-3 text-[24px];
}

input {
  @apply border-[#C1C1C1] border rounded-[50px] py-2.5 px-5 text-[20px] max-md:text-[16px] placeholder:text-[#B8B8B8];
}

button {
  @apply rounded-[64px] py-3 w-full text-[20px] max-md:text-[16px] text-btn-text bg-primary-yellow;
}

button:hover {
  @apply bg-[#dfb93b] cursor-pointer ease-linear duration-300;
}

button:disabled {
  @apply bg-[#CBCBCB] text-white;
}

.btn-secondary {
  @apply bg-white border-2 border-primary-yellow rounded-[64px] py-3 w-full text-[20px] text-btn-text text-center;
}

.btn-secondary:hover {
  @apply bg-primary-yellow text-btn-text no-underline;
}

.form-error {
  @apply text-[18px] text-red-500 pl-3;
}

.form-wrapper {
  @apply bg-white px-10 max-md:px-5 py-15 max-md:py-6 rounded-2xl space-y-9;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.form-inputs {
  @apply space-y-6 w-90 max-md:w-60;
}

.form-success {
  box-shadow: 0 0 4px 0 #00b100;
}
