@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-yellow: #fdd142;
  --color-black-text: #3d3d3d;

  --breakpoint-3xl: 1400px;
  --breakpoint-xl: 1024px;
  --breakpoint-lg: 768px;
  --breakpoint-md: 480px;
  --breakpoint-sm: 320px;
}

:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.25;
  font-weight: 400;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body,
a {
  @apply text-black-text text-[28px] max-lg:text-[24px] max-md:text-[20px];
}

a:hover {
  @apply underline;
}

h3 {
  @apply text-black text-[36px] font-semibold;
}

h4 {
  @apply text-black text-[30px] font-semibold;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: url("./assets/background.png");
}
.container {
  @apply max-w-420 m-auto max-[1720px]:px-10 max-lg:px-5;
}

footer a {
  @apply text-[24px];
}

.input-group {
  @apply flex flex-col gap-5.5 text-[24px];
}

input {
  @apply border-[#C1C1C1] border rounded-[50px] py-2.5 px-5 text-[20px] placeholder:text-[#B8B8B8];
}

button {
  @apply rounded-[64px] py-3 w-full text-[20px] text-[#04061F] bg-primary-yellow;
}

button:hover,
.btn-secondary:hover {
  @apply bg-[#dfb93b] cursor-pointer ease-linear duration-300;
}

button:disabled {
  @apply bg-[#CBCBCB] text-white;
}

.btn-secondary {
  @apply bg-white border-2 border-primary-yellow rounded-[64px] py-3 w-full text-[20px] text-[#04061F] text-center;
}

.form-error {
  @apply text-[18px] text-red-500 pl-3;
}
